{
  "root": true,
  "extends": ["airbnb", "airbnb-typescript", "prettier", "plugin:@next/next/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unstable-nested-components": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
  },
}
