# dependencies
node_modules/

# Next.js
.next/
out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next PWA
**/public/workbox-*.js
**/public/workbox-*.js.map
**/public/sw.js
**/public/sw.js.map
**/public/fallback-*.js

# build
tsconfig.tsbuildinfo
resume.pdf
